<h1><%= @user.email %> Projects</h1>
<div class = 'walls'>
  <h2>Wall</h2>
  <% @walls.each do |wall| %>
    <div class='indivitual-wall'>
      <li class='wall-name'> <%= wall.wall_name %> </li>
    </div>
  <% end %>
</div>
