<h1> Projects for <%= @user.email %></h1>
<div class = 'walls'>
  <h2>Walls</h2>
  <% @walls.each do |wall| %>
    <div class='indivitual_wall'>
      <h2 class='wall_name'> <%= wall.wall_name %> </h2>
      <div class="edit">
        <%= link_to "Change #{wall.wall_name}'s specs", edit_wall_path(wall), class: 'btn'%>
      </div>
      <div class='delete_wall'>
        <%= link_to "Delete #{wall.wall_name}", wall_path(@user, wall), method: :delete, class: 'btn'%>
      </div>
    </div>
  <% end %>
</div>
