@import "foundation_and_overrides";
@import "*";

@font-face {
  font-family: "HandwritingDraft";
  src:font_url("handwriting-draft.ttf") format("truetype"),
      font_url("handwriting-draft.eot?#iefix") format("embedded-opentype"),
      font_url("handwriting-draft.svg#handwriting-draft") format("svg"),
      font_url("handwriting-draft.woff") format("woff"),
      font_url("handwriting-draft.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "HandwritingDraft", Sans-serif;
}

.top-bar {
  color: #ffffff;
  li {
    color: #ffffff;
  }
}
body {
  background-color: #ffb74d;
}
.row-right-shift {
  margin-left: auto;
}
