@import "foundation_and_overrides";
@import "*";

@font-face {
  font-family: "HandwritingDraft";
  src: font-url("handwriting-draft.ttf") format("truetype"),
       font-url("handwriting-draft.eot?#iefix") format("embedded-opentype"),
       font-url("handwriting-draft.svg#handwriting-draft") format("svg"),
       font-url("handwriting-draft.woff") format("woff"),
       font-url("handwriting-draft.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "HandwritingDraft", Sans-serif;
}

.top-bar {
  color: #ffffff;
  li {
    color: #ffffff;
  }
}
body {
  background-color: #F4A257;
}
.row-right-shift {
  margin-left: auto;
}
