@import "foundation_and_overrides";
@import "*";

@font-face {
    font-family: 'handwriting-draft';
    src: url('handwriting-draft.woff2') format('woff2'),
         url('handwriting-draft.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
  font-family: 'handwriting-draft', Sans-serif;
}
