// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.menu {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 10px;
  ul {
    list-style: none;
  }
  .left-side li {
    margin: 0 10px;
  }
}

.welcome-message {
  text-align: center;
  font-family: 'handwriting-draft', ;
}
